:root {
  --grid-col: 200px 2fr 100px 100px;
}

.table {
  padding: 20px;
}

.table__row {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 200px 1fr;
  border-top: solid var(--light) 1px;
}

.header {
  display: grid;
  grid-template-columns: var(--grid-col);
  grid-gap: 10px;
  color: var(--second);
  padding-bottom: 20px;
}

.badge {
  padding: 3px 6px;
  border-radius: 6px;
}

.eventinfo div:nth-child(1) div:nth-child(3) {
  color: var(--primary);
}

.eventinfo__row {
  display: grid;
  grid-template-columns: 2fr 100px 100px;
  grid-gap: 10px;
  padding-bottom: 10px;
}

.date {
  color: var(--light-2)
}