:root {
  --grid-col: 200px 2fr 300px 100px;
}

.table {
  padding: 20px;
}

.table__row {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: var(--grid-col);
  border-top: solid var(--light) 1px;
}

.header {
  display: grid;
  grid-template-columns: var(--grid-col);
  color: var(--second);
  padding-bottom: 20px;
}

.badge {
  padding: 3px 6px;
  border-radius: 6px;
}